In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = 60
pd.options.display.max_rows = 122

In [2]:
%ls

 El volumen de la unidad C es Windows
 El número de serie del volumen es: 788B-24D1

 Directorio de C:\Users\javie\OneDrive\Escritorio\Ironhack\Semana 3\Banking-Risk

02/02/2024  10:35    <DIR>          .
02/02/2024  10:20    <DIR>          ..
02/02/2024  10:35    <DIR>          .ipynb_checkpoints
01/02/2024  15:44           298.527 1.1 - Limpieza Dataset.ipynb
01/02/2024  15:54           156.059 1.2 - Analysis cleaned.ipynb
02/02/2024  10:35            39.071 1.3 - Primera clasificacción.ipynb
31/01/2024  18:41       166.133.370 application_data.csv
02/02/2024  10:26    <DIR>          Banking-Risk
29/01/2024  18:06             8.884 Columns.txt
02/02/2024  10:20    <DIR>          data
02/02/2024  10:27    <DIR>          First Approach
01/02/2024  13:48           166.977 New_scoring.ipynb
31/01/2024  18:25        51.919.282 risk_df.csv
               7 archivos    218.722.170 bytes
               6 dirs  375.337.078.784 bytes libres

In [3]:
risk_tg = pd.read_csv('risk_df.csv')

In [4]:
risk_tg

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_annuity,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,24700.5,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,35698.5,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,6750.0,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,29686.5,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,21865.5,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,27558.0,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2
307501,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,12001.5,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2
307502,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,29979.0,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1
307503,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,20205.0,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0
307504,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,49117.5,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1

In [5]:
#Establishing the conditional for the High Risk classification

# Condition 1: If income is 3 times lower than credit amount

condition_1 = risk_tg.client_income < (risk_tg.credit_amount / 3)

# Condition 2: If external scoring lower than 0.5

condition_2 = (risk_tg['ext_score_1'] > 0.5) & (risk_tg['ext_score_2'] > 0.5) & (risk_tg['ext_score_3'] > 0.5)

# Condition 3: If number of enquiries are more than 4 by year

condition_3 = risk_tg.req_year > 4

# Condition 4: If client living in a region and city with rating 2

condition_4 = (risk_tg.region_rating == 2) & (risk_tg.city_rating == 2)

# Condition 5: If loan type is categorized as 'cash loan'

condition_5 = risk_tg.loan_type == 'Cash loans'

# Condition 6: If the client is the ownership or live with parent

condition_6 = (risk_tg.housing_situation == 'Ownership') | (risk_tg.housing_situation == 'Living with parents')

# Condition 7: If the client is currently working

condition_7 = risk_tg.client_income_type == 'Working'

# Condition 8: If the client is currently married

condition_8 = risk_tg.family_status == 'Married'

# Condition 9: If the client has low education level

condition_9 = risk_tg.education == 'Secondary'

# Condition 10: If the client has not children

condition_10 = risk_tg.children == 0

In [6]:
# First test with 10 conditions

# Condiciones para High Risk
condition_1 = risk_tg.client_income < (risk_tg.credit_amount / 3)
condition_2 = (risk_tg['ext_score_1'] > 0.5) & (risk_tg['ext_score_2'] > 0.5) & (risk_tg['ext_score_3'] > 0.5)
condition_3 = risk_tg.req_year > 4
condition_4 = (risk_tg.region_rating == 2) & (risk_tg.city_rating == 2)
condition_5 = risk_tg.loan_type == 'Cash loans'
condition_6 = (risk_tg.housing_situation == 'Ownership') | (risk_tg.housing_situation == 'Living with parents')
condition_7 = risk_tg.client_income_type == 'Working'
condition_8 = risk_tg.family_status == 'Married'
condition_9 = risk_tg.education == 'Secondary'
condition_10 = risk_tg.children == 0

# Asignar valores basados en condiciones
risk_tg['risk_category'] = np.select(
    [
        condition_1,
        condition_2,
        condition_3,
        condition_4,
        condition_5,
        condition_6,
        condition_7,
        condition_8,
        condition_9,
        condition_10
    ],
    ['High Risk'] * 10,  # Valor asignado si la condición es verdadera
    default='Low Risk'   # Valor asignado si ninguna condición es verdadera
)

In [7]:
# Results provide us a bad classification

risk_tg.risk_category.value_counts()

risk_category
High Risk    307502
Low Risk          3
Name: count, dtype: int64

In [8]:
# Second test with 8 conditions


# Condiciones para High Risk
condition_1 = risk_tg.client_income < (risk_tg.credit_amount / 3)
condition_2 = (risk_tg['ext_score_1'] > 0.6) & (risk_tg['ext_score_2'] > 0.6) & (risk_tg['ext_score_3'] > 0.6)
condition_3 = risk_tg.req_year > 4
condition_4 = (risk_tg.region_rating == 2) & (risk_tg.city_rating == 2)
condition_5 = risk_tg.loan_type == 'Cash loans'
condition_6 = (risk_tg.housing_situation == 'Ownership') | (risk_tg.housing_situation == 'Living with parents')
condition_7 = risk_tg.client_income_type == 'Working'
condition_8 = risk_tg.family_status == 'Married'


# Asignar valores basados en condiciones
risk_tg['risk_category_2'] = np.select(
    [
        condition_1,
        condition_2,
        condition_3,
        condition_4,
        condition_5,
        condition_6,
        condition_7,
        condition_8,
            ],
    ['High Risk'] * 8,  # Valor asignado si la condición es verdadera
    default='Low Risk'   # Valor asignado si ninguna condición es verdadera
)

In [9]:
# Results provide us a bad classification

risk_tg.risk_category_2.value_counts()

risk_category_2
High Risk    307466
Low Risk         39
Name: count, dtype: int64

In [10]:
# Third test with 4 conditions

# Condiciones para High Risk
condition_1 = risk_tg.client_income < (risk_tg.credit_amount / 3)
condition_2 = (risk_tg['ext_score_1'] > 0.6) & (risk_tg['ext_score_2'] > 0.6) & (risk_tg['ext_score_3'] > 0.6)
condition_3 = risk_tg.req_year > 4
condition_4 = (risk_tg.region_rating == 2) & (risk_tg.city_rating == 2)

# Asignar valores basados en condiciones
risk_tg['risk_category_3'] = np.select(
    [
        condition_1,
        condition_2,
        condition_3,
        condition_4,
        
            ],
    ['High Risk'] * 4,  # Valor asignado si la condición es verdadera
    default='Low Risk'   # Valor asignado si ninguna condición es verdadera
)

In [11]:

risk_tg['risk_category_3'].value_counts()

risk_category_3
High Risk    273591
Low Risk      33914
Name: count, dtype: int64

In [12]:
# Fourth test with 3 conditions

condition_1 = risk_tg.client_income < (risk_tg.credit_amount / 3)
condition_2 = (risk_tg['ext_score_1'] > 0.6) & (risk_tg['ext_score_2'] > 0.6) & (risk_tg['ext_score_3'] > 0.6)
condition_3 = risk_tg.req_year > 4

# Asignar valores basados en condiciones
risk_tg['risk_category_4'] = np.select(
    [
        condition_1,
        condition_2,
        condition_3,
                    ],
    ['High Risk'] * 3,  # Valor asignado si la condición es verdadera
    default='Low Risk'   # Valor asignado si ninguna condición es verdadera
)

In [13]:
risk_tg['risk_category_4'].value_counts()

risk_category_4
High Risk    183355
Low Risk     124150
Name: count, dtype: int64

In [14]:
# Check the model with confusion matrix and classification Table

from sklearn.metrics import confusion_matrix, classification_report

In [15]:
# Contingence Table

contingency_table = pd.crosstab(risk_tg['target'], risk_tg['risk_category_4'], margins=True)

print(contingency_table)

print()

# Confusion Matrix

conf_matrix = confusion_matrix(risk_tg['target'], risk_tg['risk_category_4'])

# Mostrar la matriz de confusión
print(conf_matrix)

print()

# Classification report
print(classification_report(risk_tg['target'], risk_tg['risk_category_4']))

risk_category_4  High Risk  Low Risk     All
target
High Risk            14756     10069   24825
Low Risk            168599    114081  282680
All                 183355    124150  307505

[[ 14756  10069]
 [168599 114081]]

              precision    recall  f1-score   support

   High Risk       0.08      0.59      0.14     24825
    Low Risk       0.92      0.40      0.56    282680

    accuracy                           0.42    307505
   macro avg       0.50      0.50      0.35    307505
weighted avg       0.85      0.42      0.53    307505

In [17]:
# Sixth test modifying numerical values on condition

condition_1 = risk_tg.client_income < (risk_tg.credit_amount / 3.5)
condition_2 = (risk_tg['ext_score_1'] > 0.7) & (risk_tg['ext_score_2'] > 0.7) & (risk_tg['ext_score_3'] > 0.7)
condition_3 = risk_tg.req_year > 5

risk_tg['risk_category_5'] = np.select(
    [
        condition_1,
        condition_2,
        condition_3,
                    ],
    ['High Risk'] * 3,  
    default='Low Risk'   
)

In [ ]:
contingency_table = pd.crosstab(risk_tg['target'], risk_tg['risk_category_5'], margins=True)

print(contingency_table)

print()

conf_matrix = confusion_matrix(risk_tg['target'], risk_tg['risk_category_5'])

print(conf_matrix)

print()

print(classification_report(risk_tg['target'], risk_tg['risk_category_5']))

risk_category_5  High Risk  Low Risk     All
target
High Risk            11997     12828   24825
Low Risk            137933    144747  282680
All                 149930    157575  307505

[[ 11997  12828]
 [137933 144747]]

In [ ]:
# Seventh Test modifying numerical values in conditions

condition_1 = risk_tg.client_income < (risk_tg.credit_amount / 4)
condition_2 = (risk_tg['ext_score_1'] > 0.7) & (risk_tg['ext_score_2']> 0.7) & (risk_tg['ext_score_3']> 0.7)
condition_3 = risk_tg.req_year > 8

risk_tg['risk_category_6'] = np.select(
    [
        condition_1,
        condition_2,
        condition_3,
                    ],
    ['High Risk'] * 3,  
    default='Low Risk'   
)

In [ ]:
contingency_table = pd.crosstab(risk_tg['target'], risk_tg['risk_category_6'], margins=True)

print(contingency_table)

print()

conf_matrix = confusion_matrix(risk_tg['target'], risk_tg['risk_category_6'])

print(conf_matrix)

print()

print(classification_report(risk_tg['target'], risk_tg['risk_category_6']))

In [ ]:
risk_tg