In [1]:
# Paso 0: Importar la libreria Pandas para trabajar con el dataset otiginal 'application-data'. 

import pandas as pd

In [2]:
# Paso 0: Ajustar el display del Dataframe para poder desplegar el total de columnas del dataset original.

pd.options.display.max_columns = 130
pd.options.display.max_rows = 120

In [3]:
# Paso 0: Aplicar '%ls' para identificar la carpeta en la que estamos trabajando.

%ls

 El volumen de la unidad C es Windows
 El número de serie del volumen es: 788B-24D1

 Directorio de C:\Users\javie\OneDrive\Escritorio\Ironhack\Semana 3\PROJECT\Banking-Risk\data\clean data

01/02/2024  15:33    <DIR>          .
01/02/2024  09:48    <DIR>          ..
01/02/2024  13:50    <DIR>          .ipynb_checkpoints
01/02/2024  14:05             3.461 analysis.ipynb
31/01/2024  18:41       166.133.370 application_data.csv
01/02/2024  15:33           118.199 cleaning.ipynb
01/02/2024  12:49        51.924.049 risk_df.csv
01/02/2024  13:36               589 scoring_1.ipynb
01/02/2024  13:37               589 scoring_2.ipynb
01/02/2024  13:50             2.097 Untitled.ipynb
               7 archivos    218.182.354 bytes
               3 dirs  371.383.156.736 bytes libres

In [4]:
# Paso 1: Crear un nuevo Dataframe aplicando el metodo read_csv().

risk_df =  pd.read_csv('application_data.csv', sep=",", encoding='cp1252')

In [5]:
# Paso 2: Comprobar, con el atributo shape, el tamño inicial del Dataframe (filas x columnas).

risk_df.shape

(307511, 122)

In [6]:
# Paso 3: Desplegar el Dataframe para tener un primer overview de los datos.

risk_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.0220,0.0198,0.0,0.0000,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.0000,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.0790,0.0554,0.0,0.0000,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.0100,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.032561,-9327,-236,-8456.0,-1982,NaN,1,1,0,1,0,0,Sales staff,1.0,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.145570,0.681632,NaN,0.2021,0.0887,0.9876,0.8300,0.0202,0.22,0.1034,0.6042,0.2708,0.0594,0.1484,0.1965,0.0753,0.1095,0.1008,0.0172,0.9782,0.7125,0.0172,0.0806,0.0345,0.4583,0.0417,0.0094,0.0882,0.0853,0.0,0.0125,0.2040,0.0887,0.9876,0.8323,0.0203,0.22,0.1034,0.6042,0.2708,0.0605,0.1509,0.2001,0.0757,0.1118,reg oper account,block of flats,0.2898,"Stone, brick",No,0.0,0.0,0.0,0.0,-273.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.025164,-20775,365243,-4388.0,-4090,NaN,1,0,0,1,1,0,NaN,1.0,2,2,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.115992,NaN,0.0247,0.0435,0.9727,0.6260,0.0022,0.00,0.1034,0.0833,0.1250,0.0579,0.0202,0.0257,0.0000,0.0000,0.0252,0.0451,0.9727,0.6406,0.0022,0.0000,0.1034,0.0833,0.1250,0.0592,0.0220,0.0267,0.0,0.0000,0.0250,0.0435,0.9727,0.6310,0.0022,0.00,0.1034,0.0833,0.1250,0.0589,0.0205,0.0261,0.0000,0.0000,reg oper account,block of flats,0.0214,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.005002,-14966,-7921,-6737.0,-5150,NaN,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.744026,0.535722,0.218859,0.1031,0.0862,0.9816,0.7484,0.0123,0.00,0.2069,0.1667,0.2083,NaN,0.0841,0.9279,0.0000,0.0000,0.1050,0.0894,0.9816,0.7583,0.0124,0.0000,0.2069,0.1667,0.2083,NaN,0.0918,0.9667,0.0,0.0000,0.1041,0.0862,0.9816,0.7518,0.0124,0.00,0.2069,0.1667,0.2083,NaN,0.0855,0.9445,0.0000,0.0000,reg oper account,block of flats,0.7970,Panel,No,6.0,0.0,6.0,0.0,-1909.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.005313,-11961,-4786,-2562.0,-931,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,NaN,0.514163,0.661024,0.0124,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0061,NaN,NaN,0.0126,NaN,0.9772,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0063,NaN,NaN,0.0125,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0062,NaN,NaN,NaN,block of flats,0.0086,"Stone, brick",No,0.0,0.0,0.0,0.0,-322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.046220,-16856,-1262,-5128.0,-410,NaN,1,1,1,1,1,0,Laborers,2.0,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.734460,0.708569,0.113922,0.0742,0.0526,0.9881,NaN,0.0176,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0791,NaN,0.0000,0.0756,0.0546,0.9881,NaN,0.0178,0.0806,0.0690,0.3750,NaN,NaN,NaN,0.0824,NaN,0.0000,0.0749,0.0526,0.9881,NaN,0.0177,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0805,NaN,0.0000,NaN,block of flats,0.0718,Panel,No,0.0,0.0,0.0,0.0,-787.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [7]:
# Paso 4: Tras el primer análisis, eliminar variables sociodemográficas que no son determinantes para nuestro análisis.


risk_1 = risk_df.drop((['DAYS_BIRTH','DAYS_EMPLOYED','NAME_TYPE_SUITE','REGION_POPULATION_RELATIVE', 
                        'DAYS_REGISTRATION','DAYS_ID_PUBLISH','FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE',
                        'FLAG_CONT_MOBILE','FLAG_PHONE','WEEKDAY_APPR_PROCESS_START','HOUR_APPR_PROCESS_START', 
                        'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 
                        'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY','LIVE_CITY_NOT_WORK_CITY', 'FLAG_EMAIL',
                        'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG',
                        'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
                        'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
                        'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
                       'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
                        'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
                       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI',
                        'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
                        'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI',
                        'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE',
                        'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE','DAYS_LAST_PHONE_CHANGE',
                       'ORGANIZATION_TYPE','FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
                        'FLAG_DOCUMENT_6','FLAG_DOCUMENT_7','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_10',
                        'FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15',
                        'FLAG_DOCUMENT_16','FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18','FLAG_DOCUMENT_19','FLAG_DOCUMENT_20',
                        'FLAG_DOCUMENT_21'
                       
                       ]), axis=1)

risk_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   SK_ID_CURR                   307511 non-null  int64
 1   TARGET                       307511 non-null  int64
 2   NAME_CONTRACT_TYPE           307511 non-null  object
 3   CODE_GENDER                  307511 non-null  object
 4   FLAG_OWN_CAR                 307511 non-null  object
 5   FLAG_OWN_REALTY              307511 non-null  object
 6   CNT_CHILDREN                 307511 non-null  int64
 7   AMT_INCOME_TOTAL             307511 non-null  float64
 8   AMT_CREDIT                   307511 non-null  float64
 9   AMT_ANNUITY                  307499 non-null  float64
 10  AMT_GOODS_PRICE              307233 non-null  float64
 11  NAME_INCOME_TYPE             307511 non-null  object
 12  NAME_EDUCATION_TYPE          307511 non-null  object
 13  NAME_FAMILY_STATUS           307511 non-null  object
 14  NAME_HOUSING_TYPE            307511 non-null  object
 15  OWN_CAR_AGE                  104582 non-null  float64
 16  OCCUPATION_TYPE              211120 non-null  object
 17  CNT_FAM_MEMBERS              307509 non-null  float64
 18  REGION_RATING_CLIENT         307511 non-null  int64
 19  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 20  EXT_SOURCE_1                 134133 non-null  float64
 21  EXT_SOURCE_2                 306851 non-null  float64
 22  EXT_SOURCE_3                 246546 non-null  float64
 23  OBS_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 24  DEF_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 25  OBS_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 26  DEF_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 27  AMT_REQ_CREDIT_BUREAU_HOUR   265992 non-null  float64
 28  AMT_REQ_CREDIT_BUREAU_DAY    265992 non-null  float64
 29  AMT_REQ_CREDIT_BUREAU_WEEK   265992 non-null  float64
 30  AMT_REQ_CREDIT_BUREAU_MON    265992 non-null  float64
 31  AMT_REQ_CREDIT_BUREAU_QRT    265992 non-null  float64
 32  AMT_REQ_CREDIT_BUREAU_YEAR   265992 non-null  float64
dtypes: float64(19), int64(5), object(9)
memory usage: 77.4+ MB

In [8]:
# Paso 5: Analizar los valores nulos en cada variable para determinar qué decisiones tomar.

risk_1.isnull().sum()

SK_ID_CURR                          0
TARGET                              0
NAME_CONTRACT_TYPE                  0
CODE_GENDER                         0
FLAG_OWN_CAR                        0
FLAG_OWN_REALTY                     0
CNT_CHILDREN                        0
AMT_INCOME_TOTAL                    0
AMT_CREDIT                          0
AMT_ANNUITY                        12
AMT_GOODS_PRICE                   278
NAME_INCOME_TYPE                    0
NAME_EDUCATION_TYPE                 0
NAME_FAMILY_STATUS                  0
NAME_HOUSING_TYPE                   0
OWN_CAR_AGE                    202929
OCCUPATION_TYPE                 96391
CNT_FAM_MEMBERS                     2
REGION_RATING_CLIENT                0
REGION_RATING_CLIENT_W_CITY         0
EXT_SOURCE_1                   173378
EXT_SOURCE_2                      660
EXT_SOURCE_3                    60965
OBS_30_CNT_SOCIAL_CIRCLE         1021
DEF_30_CNT_SOCIAL_CIRCLE         1021
OBS_60_CNT_SOCIAL_CIRCLE         1021
DEF_60_CNT_SOCIAL_CIRCLE         1021
AMT_REQ_CREDIT_BUREAU_HOUR      41519
AMT_REQ_CREDIT_BUREAU_DAY       41519
AMT_REQ_CREDIT_BUREAU_WEEK      41519
AMT_REQ_CREDIT_BUREAU_MON       41519
AMT_REQ_CREDIT_BUREAU_QRT       41519
AMT_REQ_CREDIT_BUREAU_YEAR      41519
dtype: int64

In [9]:
# Paso 6: Reemplazar los valores nulos por media o moda en función del tipo de variable (numérica o categórica).

risk_1['AMT_ANNUITY'] = risk_1['AMT_ANNUITY'].fillna(risk_1['AMT_ANNUITY'].mean())
risk_1['AMT_GOODS_PRICE'] = risk_1['AMT_GOODS_PRICE'].fillna(risk_1['AMT_GOODS_PRICE'].mean())
risk_1['CNT_FAM_MEMBERS'] = risk_1['CNT_FAM_MEMBERS'].fillna(risk_1['CNT_FAM_MEMBERS'].mean())
risk_1['OCCUPATION_TYPE'] = risk_1['OCCUPATION_TYPE'].fillna(risk_1['OCCUPATION_TYPE'].mode().iloc[0])
risk_1['EXT_SOURCE_1'] = risk_1['EXT_SOURCE_1'].fillna(risk_1['EXT_SOURCE_1'].mean())
risk_1['EXT_SOURCE_2'] = risk_1['EXT_SOURCE_2'].fillna(risk_1['EXT_SOURCE_2'].mean())
risk_1['EXT_SOURCE_3'] = risk_1['EXT_SOURCE_3'].fillna(risk_1['EXT_SOURCE_3'].mean())
risk_1['OBS_30_CNT_SOCIAL_CIRCLE'] = risk_1['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(risk_1['OBS_30_CNT_SOCIAL_CIRCLE'].mean())
risk_1['DEF_30_CNT_SOCIAL_CIRCLE'] = risk_1['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(risk_1['DEF_30_CNT_SOCIAL_CIRCLE'].mean()) 
risk_1['OBS_60_CNT_SOCIAL_CIRCLE'] = risk_1['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(risk_1['OBS_60_CNT_SOCIAL_CIRCLE'].mean())
risk_1['DEF_60_CNT_SOCIAL_CIRCLE'] = risk_1['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(risk_1['DEF_60_CNT_SOCIAL_CIRCLE'].mean()) 
risk_1['AMT_REQ_CREDIT_BUREAU_HOUR'] = risk_1['AMT_REQ_CREDIT_BUREAU_HOUR'].fillna(risk_1['AMT_REQ_CREDIT_BUREAU_HOUR'].mean())
risk_1['AMT_REQ_CREDIT_BUREAU_DAY'] = risk_1['AMT_REQ_CREDIT_BUREAU_DAY'].fillna(risk_1['AMT_REQ_CREDIT_BUREAU_DAY'].mean())
risk_1['AMT_REQ_CREDIT_BUREAU_WEEK'] = risk_1['AMT_REQ_CREDIT_BUREAU_WEEK'].fillna(risk_1['AMT_REQ_CREDIT_BUREAU_WEEK'].mean())
risk_1['AMT_REQ_CREDIT_BUREAU_MON'] = risk_1['AMT_REQ_CREDIT_BUREAU_MON'].fillna(risk_1['AMT_REQ_CREDIT_BUREAU_MON'].mean())
risk_1['AMT_REQ_CREDIT_BUREAU_QRT'] = risk_1['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(risk_1['AMT_REQ_CREDIT_BUREAU_QRT'].mean())
risk_1['AMT_REQ_CREDIT_BUREAU_YEAR'] = risk_1['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(risk_1['AMT_REQ_CREDIT_BUREAU_YEAR'].mean())
risk_1['OWN_CAR_AGE'] = risk_1['OWN_CAR_AGE'].fillna(risk_1['OWN_CAR_AGE'].mean())

In [10]:
# Paso 7: Comprobar que los valores nulos se han remplazado por la media y la moda para cada una de las variables.

risk_1.isnull().sum()

SK_ID_CURR                     0
TARGET                         0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_INCOME_TOTAL               0
AMT_CREDIT                     0
AMT_ANNUITY                    0
AMT_GOODS_PRICE                0
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
OWN_CAR_AGE                    0
OCCUPATION_TYPE                0
CNT_FAM_MEMBERS                0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
EXT_SOURCE_1                   0
EXT_SOURCE_2                   0
EXT_SOURCE_3                   0
OBS_30_CNT_SOCIAL_CIRCLE       0
DEF_30_CNT_SOCIAL_CIRCLE       0
OBS_60_CNT_SOCIAL_CIRCLE       0
DEF_60_CNT_SOCIAL_CIRCLE       0
AMT_REQ_CREDIT_BUREAU_HOUR     0
AMT_REQ_CREDIT_BUREAU_DAY      0
AMT_REQ_CREDIT_BUREAU_WEEK     0
AMT_REQ_CREDIT_BUREAU_MON      0
AMT_REQ_CREDIT_BUREAU_QRT      0
AMT_REQ_CREDIT_BUREAU_YEAR     0
dtype: int64

In [11]:
# Paso 8: Comprobar si existen valores duplicados en el Dataframe

risk_1.duplicated().any()

False

In [12]:
# Paso 9: Aplicar criterios de consistencia a las columnas con metodo lower() 

risk_1.columns = risk_1.columns.str.lower()

risk_1.columns

Index(['sk_id_curr', 'target', 'name_contract_type', 'code_gender',
       'flag_own_car', 'flag_own_realty', 'cnt_children', 'amt_income_total',
       'amt_credit', 'amt_annuity', 'amt_goods_price', 'name_income_type',
       'name_education_type', 'name_family_status', 'name_housing_type',
       'own_car_age', 'occupation_type', 'cnt_fam_members',
       'region_rating_client', 'region_rating_client_w_city', 'ext_source_1',
       'ext_source_2', 'ext_source_3', 'obs_30_cnt_social_circle',
       'def_30_cnt_social_circle', 'obs_60_cnt_social_circle',
       'def_60_cnt_social_circle', 'amt_req_credit_bureau_hour',
       'amt_req_credit_bureau_day', 'amt_req_credit_bureau_week',
       'amt_req_credit_bureau_mon', 'amt_req_credit_bureau_qrt',
       'amt_req_credit_bureau_year'],
      dtype='object')

In [13]:
# Paso 10: Renombrar columnas para identificar de manera más ágil cada variable.

risk_1.rename(columns={'sk_id_curr': 'id'}, inplace=True)
risk_1.rename(columns={'name_contract_type': 'loan_type'}, inplace=True)
risk_1.rename(columns={'code_gender': 'gender'}, inplace=True)
risk_1.rename(columns={'flag_own_car': 'own_car'}, inplace=True)
risk_1.rename(columns={'flag_own_realty': 'own_realty'}, inplace=True)
risk_1.rename(columns={'cnt_children': 'children'}, inplace=True)
risk_1.rename(columns={'amt_income_total': 'client_income'}, inplace=True)
risk_1.rename(columns={'amt_credit': 'credit_amount'}, inplace=True)
risk_1.rename(columns={'amt_annuity': 'loan_annuity'}, inplace=True)
risk_1.rename(columns={'amt_annuity': 'loan_annuity'}, inplace=True)
risk_1.rename(columns={'amt_goods_price': 'goods_price'}, inplace=True)
risk_1.rename(columns={'name_type_suite': 'type_suite'}, inplace=True)
risk_1.rename(columns={'name_income_type': 'client_income_type'}, inplace=True)
risk_1.rename(columns={'name_education_type': 'education'}, inplace=True)
risk_1.rename(columns={'name_family_status': 'family_status'}, inplace=True)
risk_1.rename(columns={'days_birth': 'days_birth'}, inplace=True)
risk_1.rename(columns={'name_housing_type': 'housing_situation'}, inplace=True)
risk_1.rename(columns={'own_car_age': 'car_age'}, inplace=True)
risk_1.rename(columns={'occupation_type': 'client_ocupation'}, inplace=True)
risk_1.rename(columns={'cnt_fam_members': 'family_members'}, inplace=True)
risk_1.rename(columns={'region_rating_client': 'region_rating'}, inplace=True)
risk_1.rename(columns={'region_rating_client_w_city': 'city_rating'}, inplace=True)
risk_1.rename(columns={'ext_source_1': 'ext_score_1'}, inplace=True)
risk_1.rename(columns={'ext_source_2': 'ext_score_2'}, inplace=True)
risk_1.rename(columns={'ext_source_3': 'ext_score_3'}, inplace=True)
risk_1.rename(columns={'obs_30_cnt_social_circle': 'obs_30'}, inplace=True)
risk_1.rename(columns={'def_30_cnt_social_circle': 'def_30'}, inplace=True)
risk_1.rename(columns={'obs_60_cnt_social_circle': 'obs_60'}, inplace=True)
risk_1.rename(columns={'def_60_cnt_social_circle': 'def_60'}, inplace=True)
risk_1.rename(columns={'amt_req_credit_bureau_hour': 'req_hour'}, inplace=True)
risk_1.rename(columns={'amt_req_credit_bureau_day': 'req_day'}, inplace=True)
risk_1.rename(columns={'amt_req_credit_bureau_week': 'req_week'}, inplace=True)
risk_1.rename(columns={'amt_req_credit_bureau_mon': 'req_mon'}, inplace=True)
risk_1.rename(columns={'amt_req_credit_bureau_qrt': 'req_qrt'}, inplace=True)
risk_1.rename(columns={'amt_req_credit_bureau_year': 'req_year'}, inplace=True)

In [14]:
# Paso 11: Mejorar las consistencia interna de los valores únicos de cada variable.

# cambio en variable 'target': '1' por 'High Risk' y '0' por 'Low Risk'.

risk_1.target = risk_1.target.astype(str)
risk_1.target = risk_1.target.str.replace('1','High Risk').replace('0','Low Risk')

# cambio en variable 'own_car': 'N' por 'No' y 'Y' por 'Yes'.

risk_1.own_car = risk_1.own_car.str.replace('N','No').replace('Y','Yes')

# cambio en variable 'own_realty': 'N' por 'No' y 'Y' por 'Yes'.

risk_1.own_realty = risk_1.own_realty.str.replace('N','No').replace('Y','Yes')

# cambio en variable 'education': agrupación de algunas categorías ('Secondary').

risk_1.education = risk_1.education.str.replace('Secondary / secondary special','Secondary')

# cambio en variable 'family_status': agrupación de algunas categorías.

risk_1.family_status = risk_1.family_status.str.replace('Single / not married','Single').replace('Civil marriage', 'Married')

# cambio en variable 'housing_situation': agrupación de algunas categorías.

risk_1.housing_situation = risk_1.housing_situation.str.replace('House / apartment','Ownership').replace('With parents', 'Living with parents').replace('Co-op apartment','Cooperative apartment')

# cambio en variable 'client_ocupation': agrupación de algunas categorías.

risk_1.client_ocupation = risk_1.client_ocupation.str.replace('Low-skill Laborers','Laborers').replace('High skill tech staff', 'High Tech staff').replace('IT staff','High Tech staff')
risk_1.client_ocupation =  risk_1.client_ocupation.str.replace('staff','')

# cambio en variable 'client_income_type': agrupación de algunas categorías.

risk_1.client_income_type =  risk_1.client_income_type.str.replace('Commercial associate','Working').replace('Businessman','Working').replace('Maternity leave','Working')

# cambio en variable 'family_member': a int.

risk_1.family_members = risk_1.family_members.astype(int)

In [15]:
# Paso 12: Analizar el dtype de cada variable para chequear si tiene sentido la info.

risk_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 33 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  307511 non-null  int64
 1   target              307511 non-null  object
 2   loan_type           307511 non-null  object
 3   gender              307511 non-null  object
 4   own_car             307511 non-null  object
 5   own_realty          307511 non-null  object
 6   children            307511 non-null  int64
 7   client_income       307511 non-null  float64
 8   credit_amount       307511 non-null  float64
 9   loan_annuity        307511 non-null  float64
 10  goods_price         307511 non-null  float64
 11  client_income_type  307511 non-null  object
 12  education           307511 non-null  object
 13  family_status       307511 non-null  object
 14  housing_situation   307511 non-null  object
 15  car_age             307511 non-null  float64
 16  client_ocupation    307511 non-null  object
 17  family_members      307511 non-null  int32
 18  region_rating       307511 non-null  int64
 19  city_rating         307511 non-null  int64
 20  ext_score_1         307511 non-null  float64
 21  ext_score_2         307511 non-null  float64
 22  ext_score_3         307511 non-null  float64
 23  obs_30              307511 non-null  float64
 24  def_30              307511 non-null  float64
 25  obs_60              307511 non-null  float64
 26  def_60              307511 non-null  float64
 27  req_hour            307511 non-null  float64
 28  req_day             307511 non-null  float64
 29  req_week            307511 non-null  float64
 30  req_mon             307511 non-null  float64
 31  req_qrt             307511 non-null  float64
 32  req_year            307511 non-null  float64
dtypes: float64(18), int32(1), int64(4), object(10)
memory usage: 76.2+ MB

In [16]:
# Paso 13: Redondear los valores de estas variables numéricas a 2 posiciones.

risk_1.car_age = risk_1.car_age.round(2) 
risk_1.ext_score_1 = risk_1.ext_score_1.round(2)
risk_1.ext_score_2 = risk_1.ext_score_2.round(2)
risk_1.ext_score_3 = risk_1.ext_score_3.round(2)
risk_1.req_hour = risk_1.req_hour.round(2)
risk_1.req_day = risk_1.req_day.round(2)
risk_1.req_week = risk_1.req_week.round(2)
risk_1.req_mon = risk_1.req_mon.round(2)
risk_1.req_qrt = risk_1.req_qrt.round(2)
risk_1.req_year = risk_1.req_year.round(2)

In [17]:
# Paso 14: Transformar las variable de observaciones (defaulters y observables) en valores int.

risk_1.obs_30 = risk_1.obs_30.astype(int)
risk_1.def_30 = risk_1.def_30.astype(int)
risk_1.obs_60 = risk_1.obs_60.astype(int)
risk_1.def_60 = risk_1.def_60.astype(int)

In [18]:
# Paso 15: Ajustar ineficiencias en las variables asociadas a las consultas del Área de Riesgo.

# variable 'req_hour': 

risk_1.req_hour = risk_1.req_hour.astype(str)
risk_1.req_hour = risk_1.req_hour.str.replace('0.01','0.0')
risk_1.req_hour = pd.to_numeric(risk_1.req_hour).astype('int32')

# variable 'req_day': 

risk_1.req_day = risk_1.req_day.astype(str)
risk_1.req_day = risk_1.req_day.str.replace('0.01','0.0')
risk_1.req_day = pd.to_numeric(risk_1.req_day).astype('int32')

# variable 'req_week':

risk_1.req_week = risk_1.req_week.astype(str)
risk_1.req_week = risk_1.req_week.str.replace('0.03','0.0')
risk_1.req_week = pd.to_numeric(risk_1.req_week).astype('int32')

# variable 'req_mon':

risk_1.req_mon = risk_1.req_mon.astype(str)
risk_1.req_mon = risk_1.req_mon.str.replace('0.27','0.0')
risk_1.req_mon = pd.to_numeric(risk_1.req_mon).astype('int32')


# variable 'req_qrt':

risk_1.req_qrt = risk_1.req_qrt.astype(str)
risk_1.req_qrt = risk_1.req_qrt.str.replace('0.01','0.0')
risk_1.req_qrt = pd.to_numeric(risk_1.req_qrt).astype('int32')

# variable 'req_year':

risk_1.req_year = risk_1.req_year.astype(str)
risk_1.req_year = risk_1.req_year.str.replace('1.9','2.0')
risk_1.req_year = pd.to_numeric(risk_1.req_year).astype('int32')

In [19]:
# Paso 16: Eliminar incosistencias en valores desconocidos o no identificados:

# Eliminar valores XNA de variable 'gender'

risk_1 = risk_1[risk_1['gender'] != 'XNA']

# Eliminar valores Unknown de variable 'family_status'

risk_1 = risk_1[risk_1['family_status'] != 'Unknown']

In [20]:
# Paso 17: Modificar el nombre del Dataframe

risk_df = risk_1

risk_df

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_annuity,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,24700.5,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,35698.5,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,6750.0,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,29686.5,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,21865.5,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,27558.0,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2
307507,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,12001.5,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2
307508,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,29979.0,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1
307509,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,20205.0,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0
307510,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,49117.5,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1

In [21]:
# Paso 18: Chequear que la info de la Dataframe es correcta.

risk_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307505 entries, 0 to 307510
Data columns (total 33 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  307505 non-null  int64
 1   target              307505 non-null  object
 2   loan_type           307505 non-null  object
 3   gender              307505 non-null  object
 4   own_car             307505 non-null  object
 5   own_realty          307505 non-null  object
 6   children            307505 non-null  int64
 7   client_income       307505 non-null  float64
 8   credit_amount       307505 non-null  float64
 9   loan_annuity        307505 non-null  float64
 10  goods_price         307505 non-null  float64
 11  client_income_type  307505 non-null  object
 12  education           307505 non-null  object
 13  family_status       307505 non-null  object
 14  housing_situation   307505 non-null  object
 15  car_age             307505 non-null  float64
 16  client_ocupation    307505 non-null  object
 17  family_members      307505 non-null  int32
 18  region_rating       307505 non-null  int64
 19  city_rating         307505 non-null  int64
 20  ext_score_1         307505 non-null  float64
 21  ext_score_2         307505 non-null  float64
 22  ext_score_3         307505 non-null  float64
 23  obs_30              307505 non-null  int32
 24  def_30              307505 non-null  int32
 25  obs_60              307505 non-null  int32
 26  def_60              307505 non-null  int32
 27  req_hour            307505 non-null  int32
 28  req_day             307505 non-null  int32
 29  req_week            307505 non-null  int32
 30  req_mon             307505 non-null  int32
 31  req_qrt             307505 non-null  int32
 32  req_year            307505 non-null  int32
dtypes: float64(8), int32(11), int64(4), object(10)
memory usage: 66.9+ MB

In [22]:
# Paso 19: Comprobar aplicación de cambios en valores únicos en variable 'target'.

risk_df.target.unique()

array(['High Risk', 'Low Risk'], dtype=object)

In [23]:
# Paso 19: Comprobar aplicación de cambios en valores únicos en variable 'loan_type'.

risk_df.loan_type.unique()

array(['Cash loans', 'Revolving loans'], dtype=object)

In [24]:
# Paso 19: Comprobar aplicación de cambios en valores únicos en variable 'gender'.

risk_df.gender.unique()

array(['M', 'F'], dtype=object)

In [25]:
# Paso 19: Comprobar aplicación de cambios en valores únicos en variable 'own_car'.

risk_df.own_car.unique()

array(['No', 'Yes'], dtype=object)

In [26]:
# Paso 19: Comprobar aplicación de cambios en valores únicos en variable 'own_realtt'.

risk_df.own_realty.unique()

array(['Yes', 'No'], dtype=object)

In [27]:
# Paso 19: Comprobar aplicación de cambios en valores únicos en variable 'client_income_type'.

risk_df.client_income_type.unique()

array(['Working', 'State servant', 'Pensioner', 'Unemployed', 'Student'],
      dtype=object)

In [28]:
# Paso 19: Comprobar aplicación de cambios en valores únicos en variable 'education'.

risk_df.education.unique()

array(['Secondary', 'Higher education', 'Incomplete higher',
       'Lower secondary', 'Academic degree'], dtype=object)

In [29]:
# Paso 19: Comprobar aplicación de cambios en valores únicos en variable 'family_status'.

risk_df.family_status.unique()

array(['Single', 'Married', 'Widow', 'Separated'], dtype=object)

In [30]:
# Paso 19: Comprobar aplicación de cambios en valores únicos en variable 'housing_situation'.

risk_df.housing_situation.unique()

array(['Ownership', 'Rented apartment', 'Living with parents',
       'Municipal apartment', 'Office apartment', 'Cooperative apartment'],
      dtype=object)

In [31]:
# Paso 20: Exportar Dataframe limpio a un nuevo fichero

risk_df.to_csv('risk_df.csv', index=False)