In [1]:
# Paso 0: Importar las librerias necesarias para realizar el análisis del modelo

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, classification_report
import numpy as np

In [2]:
# Paso 0: Comprobar nuevamente la carpeta en la que estamos trabajando con '%ls'

%ls

 El volumen de la unidad C es Windows
 El número de serie del volumen es: 788B-24D1

 Directorio de C:\Users\javie\OneDrive\Escritorio\Ironhack\Semana 3\Banking-Risk\data\clean data

02/02/2024  11:36    <DIR>          .
02/02/2024  10:20    <DIR>          ..
02/02/2024  11:36    <DIR>          .ipynb_checkpoints
01/02/2024  16:26           147.594 1.1 - Cleaning dataset.ipynb
01/02/2024  17:07           123.363 1.2 - Analysis.ipynb
02/02/2024  11:34            32.910 1.3 - Scoring 1.ipynb
02/02/2024  11:35            23.506 1.4 - Model 1.ipynb
31/01/2024  18:41       166.133.370 application_data.csv
02/02/2024  11:36               589 Model 2.ipynb
02/02/2024  11:27        64.066.224 Model_1.csv
01/02/2024  15:44        51.924.049 risk_df.csv
01/02/2024  17:38            59.591 scoring_2.ipynb
02/02/2024  11:23                72 Untitled.ipynb
02/02/2024  11:35                72 Untitled1.ipynb
              11 archivos    282.511.340 bytes
               3 dirs  375.306.145.792 bytes libres

In [3]:
# Paso 0: Ajustar el display del Dataframe para poder desplegar el total de columnas del dataset original.

pd.options.display.max_columns = 70
pd.options.display.max_rows = 122

In [4]:
# Paso 1: Crear un nuevo Dataframe del dataset limpio.

risk_tg = pd.read_csv('risk_df.csv')

In [5]:
# Paso 2: Desplegar el Dataframe para chequear las variables iniciales

risk_tg

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_annuity,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,24700.5,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,35698.5,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,6750.0,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,29686.5,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,21865.5,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,27558.0,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2
307501,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,12001.5,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2
307502,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,29979.0,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1
307503,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,20205.0,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0
307504,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,49117.5,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1

In [6]:
# Paso 3: Crear nueva variable para analizar el crédito pendiente en años.

# Calculo: dividir el 'credit_amount' entre el 'loan_annuity'(amortización anual)

risk_tg['loan_year']= risk_tg.credit_amount / risk_tg.loan_annuity

# Redondear al valor alto el cálculo, dado que los decimales equivalen a un año más

risk_tg.loan_year = np.ceil(risk_tg.loan_year).astype(int)

# Posicionar la nueva variable en el DF

risk_tg.insert(10, 'loan_year', risk_tg.pop('loan_year'))

In [7]:
# Paso 4: Crear nueva variable para analizar la amortización mensual.

# Calculo: dividir el 'loan_annuity' entre 12 meses

risk_tg['loan_mon']= (risk_tg.loan_annuity / 12).round(1)

# Posicionar la nueva variable en el DF

risk_tg.insert(10, 'loan_mon', risk_tg.pop('loan_mon'))

In [8]:
# Paso 5: Identificar el mínimo y máximo de duración de los créditos del dataset.

print(risk_tg.loan_year.max())
print(risk_tg.loan_year.min())

55
6

In [9]:
# Paso 6: Crear nueva variable para clasificar los tipos de clientes en base a la duración del préstamo.

# Establecer condiciones con las que igualar las categorías

condition_1 = risk_tg['loan_year'] < 10
condition_2 = (risk_tg['loan_year'] >= 10) & (risk_tg['loan_year'] < 20)
condition_3 = (risk_tg['loan_year'] >= 20) & (risk_tg['loan_year'] < 30)
condition_4 = (risk_tg['loan_year'] >= 30) & (risk_tg['loan_year'] < 40)
condition_5 = risk_tg['loan_year'] >= 40

# Creación de la variable en el Dataframe

risk_tg.loc[condition_1, 'loan_term'] = 'Flash'
risk_tg.loc[condition_2, 'loan_term'] = 'Low Term'
risk_tg.loc[condition_2, 'loan_term'] = 'Middle Term'
risk_tg.loc[condition_3, 'loan_term'] = 'Long Term'
risk_tg.loc[condition_4, 'loan_term'] = 'Methuselah'

# Posicionar la nueva variable en el DF

risk_tg.insert(12, 'loan_term', risk_tg.pop('loan_term'))

In [10]:
# Paso 7: Crear nueva variable para la probabilidad de defaul inicial.

risk_tg['def_initial'] = 0.00  

# Al no poder calcular la probabilidad acumulada y asumiendo que conforme mayor duración, mayor riesgo, asignamos un valor inicial escalado de menos a mas en base a la duración:

risk_tg.loc[risk_tg['loan_term'] == 'Low Term', 'def_initial'] = 0.10
risk_tg.loc[risk_tg['loan_term'] == 'Middle Term', 'def_initial'] = 0.15
risk_tg.loc[risk_tg['loan_term'] == 'Long Term', 'def_initial'] = 0.20
risk_tg.loc[risk_tg['loan_term'] == 'Methuselah', 'def_initial'] = 0.25
risk_tg.loc[risk_tg['loan_term'] == 'Flash', 'def_initial'] = 0.05

# Redondear los valores que puedo coger esta variable:

risk_tg.def_initial = risk_tg.def_initial.round(2)

# Posicionar la nueva variable en el DF:

risk_tg.insert(13, 'def_initial', risk_tg.pop('def_initial'))

In [11]:
# Paso 8: Crear una proyección de 5 a 25 años con probabilidades acumuladas para cada tipo de prestamo.

# Cáculo: para cada salto de año, añadimos un ratio del 0.10. Se crea una variable para cada salto

risk_tg['def_5'] = risk_tg['def_initial'] + 0.10
risk_tg['def_10'] = risk_tg['def_initial'] + 0.20
risk_tg['def_15'] = risk_tg['def_initial'] + 0.30
risk_tg['def_20'] = risk_tg['def_initial'] + 0.40

# Posicionar las nuevas variables en el DF:

risk_tg.insert(14, 'def_5', risk_tg.pop('def_5'))
risk_tg.insert(15, 'def_10', risk_tg.pop('def_10'))
risk_tg.insert(16, 'def_15', risk_tg.pop('def_15'))
risk_tg.insert(17, 'def_20', risk_tg.pop('def_20'))

# Desplegar el Dataframe con las nuevas variables

risk_tg

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_annuity,loan_mon,loan_year,loan_term,def_initial,def_5,def_10,def_15,def_20,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,24700.5,2058.4,17,Middle Term,0.15,0.25,0.35,0.45,0.55,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,35698.5,2974.9,37,Methuselah,0.25,0.35,0.45,0.55,0.65,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,6750.0,562.5,20,Long Term,0.20,0.30,0.40,0.50,0.60,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,29686.5,2473.9,11,Middle Term,0.15,0.25,0.35,0.45,0.55,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,21865.5,1822.1,24,Long Term,0.20,0.30,0.40,0.50,0.60,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,27558.0,2296.5,10,Middle Term,0.15,0.25,0.35,0.45,0.55,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2
307501,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,12001.5,1000.1,23,Long Term,0.20,0.30,0.40,0.50,0.60,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2
307502,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,29979.0,2498.2,23,Long Term,0.20,0.30,0.40,0.50,0.60,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1
307503,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,20205.0,1683.8,19,Middle Term,0.15,0.25,0.35,0.45,0.55,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0
307504,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,49117.5,4093.1,14,Middle Term,0.15,0.25,0.35,0.45,0.55,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1

In [12]:
# Paso 9: Establecer condicones para generar la nueva variable de target

risk_tg['category'] = 'Low Risk'
conditions = (risk_tg['def_initial'] >= 0.6) | (risk_tg['def_5'] >= 0.6) | (risk_tg['def_10'] >= 0.6) | (risk_tg['def_15'] >= 0.6) | (risk_tg['def_20'] >= 0.6)
risk_tg.loc[conditions, 'category'] = 'High Risk'

In [13]:
risk_tg.to_csv('Model_2.csv', index=False)